.body_backgorund 
{
    background-image:url('200.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-width: 10px; 
background-color: white;  
border-style: ridge;
border-color: darkviolet;
}

#btn{
    font-size: 20px;
}